In [4]:
# Import the appropriate libraries
import pandas as pd
import numpy as np

census_df=pd.read_csv(r"C:\Users\nidhi\OneDrive\Desktop\Launch_code_projects\population.csv")

In [5]:
census_df.head()

,Rank,State,Capital,Population,% of Total Population,Males,Females,Sex Ratio,Literacy Rate (%),Rural Population,Urban Population,Area (km*km),Density (1/km*km),Decadal Growth (%)
0,1,Uttar Pradesh,Lucknow,"199,812,341",16.50,"104,480,510","95,331,831",912,67.68,"155,111,022","44,470,455","240,928",828,20.1%
1,2,Maharashtra,Mumbai,"112,374,333",9.28,"58,243,056","54,131,277",929,82.34,"61,545,441","50,827,531","307,713",365,16.0%
2,3,Bihar,Patna,"104,099,452",8.60,"54,278,157","49,821,295",918,61.80,"92,075,028","11,729,609","94,163","1,102",25.1%
3,4,West Bengal,Kolkata,"91,276,115",7.54,"46,809,027","44,467,088",950,76.26,"62,213,676","29,134,060","88,752","1,030",13.9%
4,5,Andhra Pradesh,Hyderabad,"84,580,777",6.99,"42,442,146","42,138,631",993,67.02,"56,361,702","28,219,075","275,045",308,10.98%

In [6]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   35 non-null     int64
 1   State                  35 non-null     object
 2   Capital                34 non-null     object
 3   Population             35 non-null     object
 4   % of Total Population  35 non-null     float64
 5   Males                  35 non-null     object
 6   Females                35 non-null     object
 7   Sex Ratio              35 non-null     object
 8   Literacy Rate (%)      35 non-null     float64
 9   Rural Population       35 non-null     object
 10  Urban Population       35 non-null     object
 11  Area (km*km)           35 non-null     object
 12  Density (1/km*km)      35 non-null     object
 13  Decadal Growth (%)     35 non-null     object
dtypes: float64(2), int64(1), object(11)
memory usage: 4.0+ KB

In [7]:
census_df["State"].nunique()

35

In [8]:
census_df.describe()

            Rank  % of Total Population  Literacy Rate (%)
count  35.000000              35.000000          35.000000
mean   18.000000               2.856857          77.940286
std    10.246951               3.671943           8.598837
min     1.000000               0.010000          61.800000
25%     9.500000               0.115000          71.235000
50%    18.000000               1.390000          78.030000
75%    26.500000               5.020000          85.950000
max    35.000000              16.500000          94.000000